<div class="container-fluid" ng-controller="addPracticeCtrl as add">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <input class="form-control" ng-model="add.title" placeholder="Practice Title" type="text" name="practiceTitle"/>
        <input class="form-control" ng-model="add.description" placeholder="Practice Description" type="text" name="practiceDescription"/>
        <button type="button" class="btn btn-primary" ng-hide="self.editMode">Save Edited Practice</button>
        <button type="button" class="btn btn-primary" ng-show="self.editMode" ng-click="add.addPractice(self.title, self.description)">Save Practice</button>
      </div>

      <button class="btn btn-primary">Add Song</button>
      <div class="jumbotron">
        <input class="form-control" placeholder="Song Title" type="text" name="organizationName"/>
        <input class="form-control" placeholder="Link To Song" type="text" name="organizationName"/>
        <input class="form-control" placeholder="Link To Pdf" type="text" name="organizationName"/>
      </div>
    </div>
  </div>

</div>
