<div class="container-fluid" ng-controller="mainCtrl as main">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-header">My Organizations</h1>
      <button id="addOrgBtn" class="btn btn-lg" data-toggle="modal" data-target="#addOrganizationModal">Add New Organization</button>
      <hr/>
      <div class="bleds-output" ng-repeat="organization in main.userOrgs">
        <div class="bleds-header">
          <h3>{{organization.name}}</h3>
        </div>
          <div class="bleds-body">
            <h3>{{organization.orgdesc}}</h3>
            <a href="#/org/{{organization.organization_id}}/{{organization.orgabbrev}}">
            <div class="bleds-footer">
              <hr />
              <button class="btn btn-lg btn-primary">Manage</button></a>
              <button type="button" class="btn btn-lg btn-primary" ng-click="main.selectOrg(organization)" data-target="#DeleteOrganizationModal" data-toggle="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- addOrganization modal -->
  <div id="addOrganizationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new organization</h4>
        </div>
          <div class="modal-body">
              <input id="OrganizationName" ng-model="main.organizationName" class="form-control" placeholder="Organization Name" type="text" name="organizationName"/>
              <input id="OrganizationAbreviation" ng-model="main.organizationAbrev" class="form-control" placeholder="Organization abbreviation" type="text" name="organizationAbrev"/>
              <input id="OrganizationDesc" ng-model="main.organizationDesc" class="form-control" placeholder="Organization Description" type="text" name="organizationDesc"/>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" ng-click="main.addOrganization(main.organizationName, main.organizationAbrev,main.organizationDesc )" data-dismiss="modal"> Add</button>
          </div>
      </form>
      </div>

    </div>
  </div>

  <!-- addOrganization modal -->
  <div id="DeleteOrganizationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remove Organization</h4>
        </div>
          <div class="modal-body">
              <p> Are you sure you want to delete {{main.selectedOrg.name}}?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" ng-click="main.deleteOrg(main.selectedOrg)" data-dismiss="modal"> Yes</button>
            <button class="btn btn-default" data-dismiss="modal"> Cancel</button>
          </div>
      </form>
      </div>

    </div>
  </div>

</div>
