<div class="container-fluid" ng-controller="nonUserCtrl as nonUser">
  <div class="row">
    <div class="col-md-12">
      <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select Practice
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="practice in nonUser.practices" ng-click="nonUser.selectPractice(practice)"><a href="">{{practice.title}}</a></li>
      </ul>
    </div>

      <h1>{{nonUser.organization}}</h1>
      <h1>{{nonUser.selectedPractice.title}}</h1>
      <p>{{nonUser.selectedPractice.description || "No description provided"}}</p>
      <div class="jumbotron" ng-repeat="song in nonUser.practiceSongs.data">
        <h3>{{song.title}}</h3>
        <p>
          {{song.song_info}}
        </p>
        <a href="{{song.link}}"><button class="btn btn-primary">Online Link</button></a>
        <a href="{{song.pdf_ref}}"><button class="btn btn-primary">Download Pdf</button></a>
      </div>
  </div>

  </div>
</div>
