<div class="container-fluid" ng-controller="singleOrgCtrl as single">
  <div class="row">
    <div id="single-organization" class="col-md-12">
      <h1 class="main-header">Practices for {{single.orgAbrev}}</h1>
      <a href="#/{{single.orgId}}/addpractice"><button class="btn btn-lg bleds-btn addPractice">Add New Practice</button></a>
      <hr />
      <div class="bleds-output" ng-repeat="practice in single.currentPractices">
        <h1>{{practice.title}}</h1>
        <button class="btn btn-lg btn-primary delete bleds-btn" data-toggle="modal" data-target="#confirmPracticeDeleteModal" ng-click="single.setSelectedPractice(practice)">Delete</button>
        <p>{{practice.description}}</p>
        <hr />
        <div class="bleds-footer">
          <a href="#/{{single.orgId}}/addpractice/{{practice.event_id}}"><button class="btn btn-lg btn-primary bleds-btn">Edit</button></a>
          <a href="/organization/{{single.orgAbrev}}" target="_blank"><button class="btn btn-lg btn-primary bleds-btn">View</button></a>
        </div>
      </div>
    </div>
  </div>

  <div id="confirmPracticeDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you wish to delete {{single.selectedPractice.title}}?</h4>
        </div>
          <div class="modal-body">
            <button type="button" class="btn btn-default" ng-click="single.deletePractice()" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
      </form>
      </div>

    </div>
  </div>

</div>
